config:
  folder_id: {{ requiredEnv "YC_FOLDER_ID" | quote }}
  email: {{ requiredEnv "ACME_EMAIL" | quote }}
  server: https://acme-v02.api.letsencrypt.org/directory
  auth:
    json: {{ requiredEnv "DNS_SA_KEY" | quote }}

installClusterIssuer:
  enabled: true

cert-manager:
  enabled: false

certManager:
  serviceAccountName: cert-manager
